.html {
    scroll-behavior: smooth;
    background: url() no-repeat bottom center;
    background-size: 100% 693px;
    background-position: center bottom;  
    overflow-x: hidden;  
}

.body {
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(./assets/img/lake_2.jpg);
    max-width: 390px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 251px;
    border-radius: 30px 30px 0px 0px;
}

.header {
    width: 100%;
    height: 32px;
}

.vector {
    width: 30px;
    height: 30px;
}

.menu-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.menu-img {
    width: 32px;
    height: 35px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 91.8%;
    height: 32px;
    top: 43px;
    margin-left: 4%;
}

.stories-footer {
    background: url(./assets/img/winter.jpg) no-repeat bottom center;
    background-size: 100% 693px;
    background-position: center bottom; 
    border-radius: 30px;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 92.3%;
    height: 48px;
    top: 110px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.steps {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92.3%;
    height: 153px;
    text-align: center;
    margin: 190px auto 0px;
}

.threesteps {
    width: 100%;
    height: 19px;
    color: #F2785C;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: center; 
    margin: 0px 0px 21px 0px;
    letter-spacing: 0.2px;
}

.steps_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}



.steps-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 19px;
}

.steps-text1 {
    width: 24.1%;
    height: 24px;
    text-align: left;
    margin-right: 12%;
}

.steps-text2 {
    width: 35%;
    height: 24px;
    text-align: center;
}

.steps-text3 {
    width: 25.1%;
    height: 24px;
    text-align: right;
    margin-left: 11%;
}

.destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 92.3%;
    height: 289px;
    margin: 20px auto;
}

.popular {
    width: 100%;
    height: 19px;
    color: #F2785C;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}

.scroll-back {
    background-image: url(./assets/img/spain.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 210px;
    position: relative;
    border-radius: 16px;
    margin: 0px 4%;
}

.pic-name {
    width: 60px;
    height: 40px;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-top: 8px;
    margin-left: 15px;
    letter-spacing: 0.2px;
}

.scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 8px;  
    padding: 41.6% 162px 12px 45%; 
}

.dot-one {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 16%;
    background-color: #F2785C;
}

.dot-two {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 16%;
    background: rgba(242, 120, 92, 0.5);
}

.dot-three {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(242, 120, 92, 0.5);
}

.find-more {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 92px;
    height: 30px;
    background-color: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.find-more:hover {
    background: rgb(5, 168, 160);
	transition: all 0.5s linear;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin: 10px 6px 10px 6px;
}

.find-more-text {
    width: 52px;
    height: 15px;
    color: #FFFFFF;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
}

.stories {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 657px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
}

.stories-text {
    width: 100%;
    height: 19px;
    color: #F2785C;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0px;
    letter-spacing: 0.1px;
    text-align: center;
}

.stories-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92.3%;
    height: 130px;
    margin-top: 15px;
}

.stories-content {
    display: flex;
    flex-direction: column;
    margin-left: 2.78%;
}

.stories-photo {
    width: 100%;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.stories-name {
    width: 100%;
    height: 13px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
}

.stories-exp {
    width: 195px;
    height: 102px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    margin-top: 10px;
}

.see-more {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 92px;
    height: 30px;
    background-color: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-bottom: 13px;
}

.see-more:hover {
    background: rgb(5, 168, 160);
	transition: all 0.5s linear;
}

.see-more-text {
    width: 52px;
    height: 15px;
    color: #FFFFFF;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
}

.arrow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin: 10px 6px 10px 6px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 36.15%;
    height: 34px;
    margin-top: 6px;
    margin-left: 10px;    
}

.social-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin-right: 20px;
}

.social-block-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}

.preview-search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.search-text {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4%;
    width: 70%;
    height: 30px;
    color: #F2785C;
    font-family: Aleo;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 1px;
}

.start-planning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    height: 30px;
    background-color: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: #FFFFFF;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    transition: all;
    border: none;
    letter-spacing: 0.25px;
    margin-right: 10px;
}

.start-planning:hover {
    background: rgb(5, 168, 160);
	transition: all 0.5s linear; 
}